<h1>Users</h1>

<% @users.each do |u| %>

  <%= link_to u.shelter_name, user_path(u.id) %>
  <%= link_to 'edit', edit_user_path(u.id) %>
  <%= link_to 'delete', u, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
