/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .top {
   background-color: #63D1F4;
   padding: 20px;
   width: 100%;
 }

.or {
  font-weight: bold;
  color: white;
  position: relative;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

 .document {
   margin: 40px;
 }

 .top_buttons {
   position: relative;
   display: inline;
   margin-left: 300px;
   float: right;
 }

 .top_hello {
   position: relative;
   display: inline;
   margin: 20px;
   width: 200px;
   color: white;
 }

 body {
   font-family: 'Raleway', sans-serif;
 }
