// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questionnaire {
  margin: 20px;
  margin-left: 200px;
}

ul {
  list-style-type: none;
}

.dog_name {
  font-size: 24px;
}
