// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all_dogs {
  width: 20%;
}

.dog_list {
  width: 100px;
  margin: 10px;
  padding: 10px;

}

.dog_name {
  width: 70px;
  font-size: 24px;
}

.new_dog {
  margin-left: 20px;
  font-size: 24px;
}
